name: quantum-sequence to npmjs
on:
  push:
    branches: [main]
    paths:
      - "packages/quantum-sequence/**"
      - ".github/workflows/quantum-sequence.yml"
      - "package.json"
      - "pnpm-lock.yaml"
      - ".github/workflows/module.yml"
  pull_request:
    branches: [main]
    paths:
      - "packages/quantum-sequence/**"
      - ".github/workflows/quantum-sequence.yml"
      - "package.json"
      - "pnpm-lock.yaml"
      - ".github/workflows/module.yml"

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  module-flow:
    uses: ./.github/workflows/module.yml
    secrets: inherit
    with:
      package-path: packages/quantum-sequence
