name: tachyon-drive-browser to npmjs
on:
  push:
    branches: [main]
    paths:
      - "packages/tachyon-drive-browser/**"
      - ".github/workflows/tachyon-drive-browser.yml"
      - ".github/workflows/module.yml"
  pull_request:
    branches: [main]
    paths:
      - "packages/tachyon-drive-browser/**"
      - ".github/workflows/tachyon-drive-browser.yml"
      - ".github/workflows/module.yml"

jobs:
  module-flow:
    uses: ./.github/workflows/module.yml
    secrets: inherit
    with:
      package-path: packages/tachyon-drive-browser
