name: tachyon-drive-blob-storage to npmjs
on:
  push:
    branches: [main]
    paths:
      - "packages/tachyon-drive-blob-storage/**"
      - ".github/workflows/tachyon-drive-blob-storage.yml"
      - "package.json"
      - "pnpm-lock.yaml"
      - ".github/workflows/module.yml"
  pull_request:
    branches: [main]
    paths:
      - "packages/tachyon-drive-blob-storage/**"
      - ".github/workflows/tachyon-drive-blob-storage.yml"
      - "package.json"
      - "pnpm-lock.yaml"
      - ".github/workflows/module.yml"

jobs:
  module-flow:
    uses: ./.github/workflows/module.yml
    secrets: inherit
    with:
      package-path: packages/tachyon-drive-blob-storage
